@model List<PR_Top_Service_MVC.Models.Service>

@{
    ViewData["Title"] = "Details";
}

<h1>Servicios Finalizados</h1>
@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<div class="tabla-contenedor">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <i class="fa fa-user" style="color: black;"></i>
                    Profesional Encargado
                    <span class="visually-hidden">(current)</span>
                </th>
                <th>
                    <i class="fa fa-user" style="color: black;"></i>
                    Cliente
                    <span class="visually-hidden">(current)</span>
                </th>
                <th>
                    <i class="fa fa-window-maximize" style="color: black;"></i>
                    Problema
                    <span class="visually-hidden">(current)</span>
                </th>
                <th>
                    <i class="fa fa-calendar-check-o" style="color: black;"></i>
                    Fecha Finalizacion
                    <span class="visually-hidden">(current)</span>
                </th>
                <th>
                    <i class="fa fa-check-circle " style="color: black;"></i>
                   Estado del Servicio
                    <span class="visually-hidden">(current)</span>
                </th>
                <th>
                    <i class="fa fa-file-image-o " style="color: black;"></i>
                    Comprobantes
                    <span class="visually-hidden">(current)</span>
                </th>
                <th>
                    <i class="fa fa-map-marker " style="color: black;"></i>
                   Ubicacion
                    <span class="visually-hidden">(current)</span>
                </th>
                <th>
                    <i class="fa fa-qrcode" style="color: black;"></i>
                    Pagar
                    <span class="visually-hidden">(current)</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProfesionalS.IdPersonNavigation.Name)
                        @Html.DisplayFor(modelItem => item.ProfesionalS.IdPersonNavigation.LastName)
                        @Html.DisplayFor(modelItem => item.ProfesionalS.IdPersonNavigation.SecondLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCostumerNavigation.IdCostumerNavigation.Name)
                        @Html.DisplayFor(modelItem => item.IdCostumerNavigation.IdCostumerNavigation.LastName)
                        @Html.DisplayFor(modelItem => item.IdCostumerNavigation.IdCostumerNavigation.SecondLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime_Off_Service)
                    </td>
                    <td>
                        <button disabled class="btn btn-success">
                            @Service.ReturnToStatus((int)item.Status)

                        </button>
                    </td>
                    <td>
                        <a asp-controller="Images" asp-action="DetailsImage" asp-route-id="@item.IdService" class="btn btn-success" style="margin-left:5px;">
                            <i class="fa fa-file-image-o" style="color: #FFFFFF;"></i>
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </td>
                    
                    <td>
                        <a asp-controller="Service" asp-action="Ubicacion" asp-route-id="@item.IdService" class="btn btn-success" style="margin-left:5px;">
                            Ubicacion
                        </a>
                    </td>
                    <td>
                        <a asp-action="Detail" asp-controller="PagoQrs" asp-route-id="@item.IdService" class="btn btn-primary">
                            <i class="fa fa-qrcode" style="color: #FFFFFF;"></i>
                            <span class="visually-hidden">(current)</span>
                        </a>
                       
                       
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
