@model IEnumerable<PR_Top_Service_MVC.Models.Postulation>

@{
    var fullname = Model.FirstOrDefault().IdProfessionalNavigation.IdPersonNavigation.Name + " " + Model.FirstOrDefault().IdProfessionalNavigation.IdPersonNavigation.LastName;
}

<h1 class="mt-4">Postulación</h1>

<hr />

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Información del Profesional</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Títulos Profesionales:</strong>
                        @Model.FirstOrDefault().ProfessionalTitles
                    </li>
                    <li class="list-group-item">
                        <strong>Certificaciones:</strong>
                        @Model.FirstOrDefault().Certification
                    </li>
                    <li class="list-group-item">
                        <strong>Experiencia Laboral:</strong>
                        @Model.FirstOrDefault().WorkExperience
                    </li>
                    <li class="list-group-item">
                        <strong>Dirección:</strong>
                        @Model.FirstOrDefault().Address
                    </li>
                    <li class="list-group-item">
                        <strong>Profesional:</strong>
                        @fullname
                    </li>
                    <li class="list-group-item">
                        <strong>Imagen C.V.</strong>
                        <button class="btn btn-info" id="openImageModal" data-image-url="@Model.FirstOrDefault().Image">Ver imagen en tamaño completo</button>

                       @* <img src="@Model.FirstOrDefault().Image" width="250" height="250" />*@
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="imageModal">
    <span id="closeModal">&times;</span>
    <img id="modalContent" src="" />
</div>

<div class="mt-4">
    <a asp-action="otro" asp-route-id="@Model.First().IdPostulation" class="btn btn-primary">Aceptar Postulación</a>
</div>
<br />
<br />
<br />
<br />
<br />
<br />

<script>
    // Obtener el botón y la ventana modal
    var openModalButton = document.getElementById("openImageModal");
    var modal = document.getElementById("imageModal");
    var image = document.querySelector("#modalContent");

    openModalButton.addEventListener("click", function () {
        var imageUrl = openModalButton.getAttribute("data-image-url");
        image.src = imageUrl;
        modal.style.display = "block";
    });

    // Cuando se haga clic en la "x", cerrar la ventana modal
    var closeModalButton = document.getElementById("closeModal");
    closeModalButton.addEventListener("click", function () {
        modal.style.display = "none";
    });

    // También puedes cerrar la ventana modal haciendo clic fuera de la imagen
    window.addEventListener("click", function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    });
</script>
