@model IEnumerable<PR_Top_Service_MVC.Models.Quotation>

@{
    ViewData["Title"] = "Index";
}

<h1>Solicitudes de Cotizacion</h1>

<div class="tabla-contenedor">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <i class="fa fa-user" style="color: black;"></i>
                    Nombre
                </th>

                <th>
                    <i class="fa fa-calendar-o " style="color: black;"></i>
                    Fecha de solicitud
                </th>

                <th>
                    <i class="fa fa-file-text" style="color: black;"></i>
                    Descripcion del problema
                </th>
                <th>
                    <i class="fa fa-file-text" style="color: black;"></i>
                    Numero de celular
                </th>
                <th>
                    <i class="fa fa-file-text" style="color: black;"></i>
                    Ubicacion en mapa
                </th>

                <th>
                    <i class="fa fa-circle-o " style="color: black;"></i>
                    Estado
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdProfesionalNavigation.IdPersonNavigation.Name)

                        @Html.DisplayFor(modelItem => item.IdProfesionalNavigation.IdPersonNavigation.LastName)

                        @Html.DisplayFor(modelItem => item.IdProfesionalNavigation.IdPersonNavigation.SecondLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCostumerNavigation.CellphoneNumber)
                    </td>
                    <td>
                        <a asp-route-id="@item.IdCostumerNavigation.IdCostumer" class="btn btn-info"
                           data-latitude="@item.IdCostumerNavigation.Latitude"
                           data-longitude="@item.IdCostumerNavigation.Longitud"
                           onclick="openMapPopup(this)">Ver ubicación</a>

                    </td>


                    <td>

                        @if (item.Status == 2)
                        {
                            <button disabled class="btn btn-success">Aceptado</button>
                        }
                        else if (item.Status == 3)
                        {
                            <button disabled class="btn btn-danger">Rechazado</button>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="map-popup" style="display: none; position: fixed; top: 15%; left: 15%; width: 70%; height: 70%; background-color: rgba(0, 0, 0, 0.7); z-index: 9999;">
    <div id="map" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; max-width: 100%; max-height: 100%;">
        <button id="close-map-button" class="btn btn-danger" onclick="closeMapPopup()" style="position: absolute; top: 10px; right: 10px; z-index: 10000;">X</button>
    </div>
</div>







<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
    function openMapPopup(button) {
        var latitude = button.getAttribute("data-latitude");
        var longitude = button.getAttribute("data-longitude");

        event.preventDefault();

        document.getElementById("map-popup").style.display = "block";

        var map = L.map('map').setView([parseFloat(latitude), parseFloat(longitude)], 15);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
            maxZoom: 18,
        }).addTo(map);

        L.marker([parseFloat(latitude), parseFloat(longitude)]).addTo(map);
    }

    function closeMapPopup() {
        document.getElementById("map-popup").style.display = "none";
    }
</script>
