@model PR_Top_Service_MVC.Models.PersonAdmin

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Administrador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="IdPerson" />
            <div class="form-group">
                <label  class="control-label">Numero de celular</label>
                <input asp-for="CelphoneNumber" class="form-control" value="@ViewBag.admin.CelphoneNumber" type="number" maxlength="7" />
                <span asp-validation-for="CelphoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label"> Fehca de nacimiento</label>
                <input type="datetime" asp-for="Birthdate" class="form-control" value="@ViewBag.admin.Birthdate" />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="IdPerson" class="control-label"></label>
                <input asp-for="IdPerson" class="form-control" />
                <span asp-validation-for="IdPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" value="@ViewBag.person.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Apellido Paterno</label>
                <input asp-for="LastName" class="form-control" value="@ViewBag.person.LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Apellido Materno</label>
                <input asp-for="SecondLastName" class="form-control" value="@ViewBag.person.SecondLastName" />
                <span asp-validation-for="SecondLastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdDepartment" class="control-label"></label>
                @Html.DropDownListFor(model => model.IdDepartment, (SelectList)ViewData["IdDepartment"], new { @class = "form-control" })
                <span asp-validation-for="IdDepartment" class="text-danger"></span>
            </div>
           
            <div class="form-group" hidden>
                <label asp-for="IdUser" class="control-label"></label>
                <input asp-for="IdUser" class="form-control" />
                <span asp-validation-for="IdUser" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label  class="control-label">Correo</label>
                <input asp-for="Email" class="form-control" value="@ViewBag.user.Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label  class="control-label">Contraseña</label>
                <input asp-for="Password" class="form-control" value="@ViewBag.user.Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group"hidden>
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" value="Admin"/>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section scripts {
    <script>
        // Obtener el campo de fecha de nacimiento
        var birthdateInput = document.getElementById('birthdate');

        // Agregar un controlador de eventos para el cambio en el campo de fecha de nacimiento
        birthdateInput.addEventListener('change', function () {
            var birthdateValue = new Date(birthdateInput.value);
            var today = new Date();
            var minDate = new Date();
            minDate.setFullYear(today.getFullYear() - 18);
            var maxDate = new Date();
            maxDate.setFullYear(today.getFullYear() - 75);

            if (birthdateValue > minDate) {
                // Mostrar mensaje de error
                birthdateInput.setCustomValidity('Debes tener al menos 18 años de edad');
            } else if (birthdateValue < maxDate) {
                // Mostrar mensaje de error
                birthdateInput.setCustomValidity('La edad máxima permitida es 75 años');
            } else {
                // Limpiar mensaje de error
                birthdateInput.setCustomValidity('');
            }
        });
    </script>
}


<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

