@model PR_Top_Service_MVC.Models.CustomerUser

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Perfil</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCostumer" />
            <div class="form-group">
                <label  class="control-label">Direccion</label>
                <input asp-for="Address" class="form-control" value="@ViewBag.costumer.Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label  class="control-label">Carnet de identidad</label>
                <input asp-for="Ci" class="form-control" value="@ViewBag.costumer.Ci" />
                <span asp-validation-for="Ci" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="IdPerson" class="control-label"></label>
                <input asp-for="IdPerson" class="form-control" />
                <span asp-validation-for="IdPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" value="@ViewBag.person.Name"  />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Apellido Paterno</label>
                <input asp-for="LastName" class="form-control" value="@ViewBag.person.LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Apellido Materno</label>
                <input asp-for="SecondLastName" class="form-control" value="@ViewBag.person.SecondLastName" />
                <span asp-validation-for="SecondLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDepartment" class="control-label"></label>
                @Html.DropDownListFor(model => model.IdDepartment, (SelectList)ViewData["IdDepartment"], new { @class = "form-control" })
                <span asp-validation-for="IdDepartment" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" value=1 />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="IdUser" class="control-label"></label>
                <input asp-for="IdUser" class="form-control" />
                <span asp-validation-for="IdUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Correo Electronico</label>
                <input asp-for="Email" class="form-control" value="@ViewBag.user.Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" value="@ViewBag.user.Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" value="Client"/>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />
<br /><br /><br /><br />
