@model IEnumerable<PR_Top_Service_MVC.Models.Service>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProfessional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCostumer)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProfessional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCostumer)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
           
            <td>
                <a asp-action="EditService" asp-controller="ServiceReceipt" asp-route-id="@item.IdService">Confirmar servicio</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
