@model IEnumerable<PR_Top_Service_MVC.Models.Service>

@{
    ViewData["Title"] = "Index";
}

<h1>Servicios por Confirmar</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <i class="fa fa-graduation-cap" style="color: black;"></i>
                Profesional Encargado
            </th>
            <th>
                <i class="fa fa-file-text-o" style="color: black;"></i>
                Descripcion del problema
            </th>
            <th>
                <i class="fa fa-calendar-o" style="color: black;"></i>
                Fecha para inciar el servicio
            </th>
            <th>
                <i class="fa fa-calendar-o" style="color: black;"></i>
                Comprobante del servicio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfesionalS.IdPersonNavigation.Name)
                    @Html.DisplayFor(modelItem => item.ProfesionalS.IdPersonNavigation.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                
                <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal-@item.IdService">Mostrar Detalles</button>
                </td>
                <td>
                    <a asp-action="EditService" asp-controller="ServiceReceipt" asp-route-id="@item.IdService" class="btn btn-success">Confirmar servicio</a> |
                </td>
            </tr>

            <!-- Modal para mostrar detalles -->
            <div class="modal fade" id="myModal-@item.IdService" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Detalles del Servicio</h5>
                           
                        </div>
                        <div class="modal-body">
                            <!-- Contenido que quieres mostrar -->
                            <h2 class="card-title">Recibo</h2>
                            <h4>Descripcion del Servicio</h4>
                            <p class="card-text"> @item.Description</p>
                            <h4>Fecha</h4>
                            <p class="card-text"> @item.Date</p>
                            <h4>Detalle del servicio</h4>
                            <p class="card-text"> @item.Receipt.Description</p>
                            <h4>Total</h4>
                            <p class="card-text"> @item.Receipt.Total</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>

