@model IEnumerable<PR_Top_Service_MVC.Models.Image>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imaged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdServiceNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.Imaged"  width="100" height="100"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdServiceNavigation.IdService)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdImages">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdImages">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdImages">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
